.header {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
    /* border: 1px solid yellow; */
}
.content_header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}
.logo {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    text-shadow: 3px 0 2px black;
}
/* -------------------------------------------- */

.dws-menu ul,
.dws-menu ol {
    list-style: none;
}
.dws-menu > ul {
    display: flex;
    justify-content: center;
}
.dws-menu > ul li {
    position: relative;
}
.dws-menu > ul li a {
    display: block;
    /* background-color: transparent; */
    padding: 10px 20px 10px 10px;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    font-family: sans-serif;
}
.dws-menu li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all .3s ease;
}
/* -------------выподающее меню------------ */
.dws-menu li ul {
    position: absolute;
    min-height: 150px;
    display: none;
    background-color: rgba(255, 255, 255);
}
.dws-menu li > ul li {
    width: 182px;
}
.dws-menu li > ul li a {
    padding: 10px 15px;
    text-transform: none;
    font-size: .9rem;
    color: black;
    text-align: center;
}
.dws-menu li > ul li a:hover {
    background-color: rgba(100, 100, 100);
    color: white;
}
.dws-menu li > ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul {
    display: block;
}

/* ------------------------------------------------ */
/* .fa-id-card {
    padding-right: 10px;
    font-size: 1rem;
}
.fa-newspaper {
    padding-right: 10px;
    font-size: 1rem;
}
.fa-gear {
    padding-right: 10px;
    font-size: 1rem;
}
.fa-cart-shopping {
    padding-right: 10px;
    font-size: 1rem;
}
.fa-house {
    padding-right: 10px;
    font-size: 1rem;
} */