.section_1 {
    width: 100%;
    /* min-height: 600px; */
    position: relative;
    background-image: url(../../img/muzey-shlem/museum_of_gun_night_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content_section_1 {
    max-width: 1200px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo_box_section_1 {
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.logo_box_section_1_h1 {
    text-align: left;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    line-height: 60px;
    margin-bottom: 25px;
    text-shadow: 0 0 5px black;
}
.logo_box_section_1_h2 {
    max-width: 550px;
    text-align: left;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-shadow: 0 0 5px black;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.start_travel {
    width: 200px;
    padding: 15px 15px;
    transition: all .2s ease;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    border-radius: 30px;
    border: 1px solid transparent;
}
.start_travel:hover {
    background-color: rgb(35, 94, 25,.8);
    color: rgb(255, 255, 255);
    border: 1px solid white;
}