.section-1_wrapper {
    width: 100%;
    background: linear-gradient(45deg,rgb(240, 240, 240)50%,rgb(230, 230, 230) 50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-1_wrapper h1 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(110, 40, 40);
    padding: 20px 0;
}
.section-1_wrapper h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(70, 70, 70);
    max-width: 1000px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}
.history_box {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.history_box img {
    max-width: 500px;
    min-height: 350px;
    border-radius: 4px;
    box-shadow: 3px 3px 10px -3px rgb(0, 0, 0);
    margin-right: 20px;
}
.history_box p {
    font-family: sans-serif;
    line-height: 25.7px;
}
.wrapper_img_box_top {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.wrapper_text_top {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper_img_box {
    display: flex;
}
.img_box_polenovo {
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: 30px 10px;
}
/* -----------------------------popup-------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-45.5%) scale(0);
    transition: all .4s ease;
}
.pop_up1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-45.5%) scale(0);
    transition: all .4s ease;
}
.pop_up2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-45.5%) scale(0);
    transition: all .4s ease;
}
/* -------------------------- */
.pop_up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .7);
}
.pop_up1.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .7);
}
.pop_up2.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .7);
}
/* -------------------------- */
.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_container1 {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_container2 {
    display: flex;
    width: 100%;
    height: 100%;
}
/* -------------------------- */
.pop_up_body {
    margin: auto;
    width: 750px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    padding: 40px 40px 40px 40px;
    position: relative;
}
.pop_up_body1 {
    margin: auto;
    width: 750px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    padding: 40px 40px 40px 40px;
    position: relative;
}
.pop_up_body2 {
    margin: auto;
    width: 750px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    padding: 40px 40px 40px 40px;
    position: relative;
}
/* -------------------------- */
.pop_up_body img {
    width: 100%;
    min-height: 500px;
    height: 100%;
}
.pop_up_body img:nth-child(1) {
    max-width: inherit;
}
/* -------------------------- */
.pop_up_close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
.pop_up_close1 {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
.pop_up_close2 {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
/* -------------------------- */
.img_polenovo_1 {
    box-shadow: 3px 5px 15px -3px rgb(0, 0, 0);
    border-radius: 6px;
}
.img_polenovo_1:hover {
    cursor: pointer;
}


/* -------------------------------- */

.location_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.5);
}
.location_container {
    max-width: 1200px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 60px 0;
}
.map_box, iframe {
    max-width: 600px;
    width: 100%;
    min-height: 345px;
}
.description_box {
    max-width: 500px;
    width: 100%;
    background: linear-gradient(45deg,rgb(243, 243, 243) 40%,rgb(200, 200, 200));
    padding: 20px 20px;
}
.description_box p:nth-child(1) {
    font-size: 2rem;
    font-family: serif;
}
.description_box p {
    font-family: sans-serif;
}
span {
    color: rgb(110, 40, 40);
    font-weight: bold;
    font-family: sans-serif;
}
/* -----------------slider ------------*/
.slider_main_wrapper {
    width: 100%;
    background-color: rgba(255, 228, 196, 0.5);
    padding: 20px 0;
}
.slider_wrapper {
    display: flex;
    align-items: center;
    margin: 40px auto;
    max-width: 1300px;
    width: 100%;
}
.slider_container {
    width: 1100px;
    height: 550px;
    overflow: hidden;
    background: pink;
    margin: 0 auto;
    outline: 2px solid rgb(255, 255, 255);
    box-shadow: 20px 20px 15px -15px rgba(0, 0, 0, 0.700);
}
.slider_track {
    display: flex;
    background: gold;
    transition: .7s;
}
.slider_item {
    height: 600px;
}
.slider_item:nth-child(1) {
    background: url(../../img/Polenovo/1p4b0jdrumw0c840co0o0o8gw.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(2) {
    background: url(../../img/Polenovo/AI1A7936-1734x1080.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(3) {
    background: url(../../img/Polenovo/beach-polenovo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(4) {
    background: url(../../img/Polenovo/bit-gostinnaya-polenovo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(5) {
    background: url(../../img/Polenovo/bit-polenovo-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(6) {
    background: url(../../img/Polenovo/img_1767.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(7) {
    background: url(../../img/Polenovo/nature-polenovo-43.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(8) {
    background: url(../../img/Polenovo/nature-polenovo-winter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(9) {
    background: url(../../img/Polenovo/nature-sunset-polenovo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_item:nth-child(10) {
    background: url(../../img/Polenovo/stone-polenovo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider_buttons {
    display: flex;
    align-items: center;
    text-align: center;
}
.slider_buttons i {
    font-size: 2.2rem;
}
.slider_buttons button {
    width: 70px;
    height: 50px;
    transition: .6s;
    background: none;
    color: rgb(53, 53, 53);
    transition: all .2s ease;
}
.slider_buttons button:hover {
    transform: scale(1.3);
}