.section-1 {
    width: 100%;
    background-color: white;
}
/* .section-1 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(110, 40, 40);
}
.section-1 h2 {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(90, 90, 90);
    max-width: 1000px;
    margin: 10px auto;
} */
.conteiner {
    position: relative;
    /* padding-bottom: 43.25%; */
    /* padding-bottom: 100vh; */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.intro {
    max-height: 100%;
    overflow: hidden;
}
.container_content h1 {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    /* font-family: sans-serif; */
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    max-width: 700px;
    margin: 0 auto;
    padding: 25px 35px;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid white; */
}
.container_content h2 {
    width: 1000px;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid white; */
    z-index: 1;
    color: white;
    padding: 15px 10px;
}
h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(110, 40, 40);
}
.img_pole_box {
    max-width: 1000px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.img_pole_box img {
    max-width: 300px;
    width: 100%;
    min-height: 220px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 4px 4px 10px -3px black;
    margin: 10px 0;
}
/* -----------------------------slider --------------------------*/
.slider_main_wrapper {
    width: 100%;
    background-color: rgba(255, 228, 196, 0.5);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.slider_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
}
.slider_container {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    /* background: pink; */
    margin: 0 auto;
}
.slider_track {
    display: flex;
    /* background: gold; */
    transition: 1.5s;
}
.slider_item {
    height: 250px;
    border: 10px solid transparent;
}
.slider_item:nth-child(1) {
    background: url(../../img/Kulikovo-pole/10_vkhod-v-novyy-muzeynyy-kompleks.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(2) {
    background: url(../../img/Kulikovo-pole/caption.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(3) {
    background: url(../../img/Kulikovo-pole/kulikovo-pole-1.jpeg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(4) {
    background: url(../../img/Kulikovo-pole/kulikovo_pole.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(5) {
    background: url(../../img/Kulikovo-pole/KulikovoPole.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(6) {
    background: url(../../img/Kulikovo-pole/pole-vue-in-the-sky.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(7) {
    background: url(../../img/Kulikovo-pole/scale_2400.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(8) {
    background: url(../../img/Kulikovo-pole/131796810.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(9) {
    background: url(../../img/Kulikovo-pole/kulikovo_pole06_b.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(10) {
    background: url(../../img/Kulikovo-pole/720_612f860382682c4f9b365768.jfif);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(11) {
    background: url(../../img/Kulikovo-pole/m04_1-01.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(12) {
    background: url(../../img/Kulikovo-pole/69312965-d1b3-46e7-abc7-8e8413b9fb13..jpeg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(13) {
    background: url(../../img/Kulikovo-pole/pole-kulikovo-2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(14) {
    background: url(../../img/Kulikovo-pole/church.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_item:nth-child(15) {
    background: url(../../img/Kulikovo-pole/obelisk2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider_buttons {
    display: flex;
    align-items: center;
    text-align: center;
}
.slider_buttons i {
    font-size: 2rem;
}
.slider_buttons button {
    width: 50px;
    height: 40px;
    transition: .6s;
    background: none;
    color: rgb(72, 72, 72);
    transition: all .1s ease;
}
/* --------------------------------------- */
.history_pole {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(55deg,rgb(229, 229, 229) 50%, rgb(214, 214, 214) 50%);
}
.text_history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.text_history p:first-child {
    font-family: sans-serif;
    font-size: 1.3rem;
    text-align: center;
}
.text_history p:nth-child(2) {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    color: rgb(110, 40, 40);
}
.text_history p:nth-child(n+2) {
    font-family: sans-serif;
}
.text_history img {
    max-width: 1000px;
    width: 100%;
    margin: 10px 0;
}
.new_history_title {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    color: rgb(110, 40, 40);
}
.history_content {
    max-width: 1200px;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
}
/*-------------------- navigation----------------- */
.navigation_main_wrapper {
    width: 100%;
    background-color: rgba(255, 228, 196, 0.5);
    padding: 40px 0 10px 0;
}
.navigation_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation_container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-map {
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    border-radius: 6px;
    box-shadow: 3px 3px 10px -3px rgba(70, 70, 70, 0.5);
}
.block-map iframe {
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    height: 100%;
}
.block-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    background: linear-gradient(45deg,rgb(243, 243, 243) 40%,rgb(200, 200, 200));
    padding: 0 20px;
    box-shadow: 3px 3px 10px -3px rgba(70, 70, 70, 0.5);

}
.block-description h3, h4 {
    font-family: sans-serif;
    font-size: 1.5rem;
}
.block-description p {
    font-family: sans-serif;
}
/* -----------------------------popup-------------------------------- */
.pop_up, 
.pop_up1, 
.pop_up2, 
.pop_up3, 
.pop_up4, 
.pop_up5 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-45.5%) scale(0);
    transition: all .4s ease;
}
.pop_up.active, 
.pop_up1.active, 
.pop_up2.active, 
.pop_up3.active, 
.pop_up4.active, 
.pop_up5.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .7);
}
.pop_up_container, 
.pop_up_container1, 
.pop_up_container2, 
.pop_up_container3, 
.pop_up_container4, 
.pop_up_container5 {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body, 
.pop_up_body1, 
.pop_up_body2, 
.pop_up_body3, 
.pop_up_body4, 
.pop_up_body5 {
    margin: auto;
    width: 750px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    padding: 40px 40px 40px 40px;
    position: relative;
}
.pop_up_body img, 
.pop_up_body1 img, 
.pop_up_body2 img, 
.pop_up_body3 img, 
.pop_up_body4 img, 
.pop_up_body5 img {
    width: 100%;
    height: 500px;
}
.pop_up_close, 
.pop_up_close1, 
.pop_up_close2, 
.pop_up_close3, 
.pop_up_close4, 
.pop_up_close5 {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
.pole {
    box-shadow: 3px 5px 15px -3px rgb(0, 0, 0);
    border-radius: 6px;
}
.pole:hover {
    cursor: pointer;
}